################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CicloStock/FileContentIndex/414b0e69-cd34-4004-b7a9-fe84ceeb695a.vsidx
